<div class="container">
    <h4 class="pl-4 mt-3">Profile</h4>
        <div class="row p-4">
            
                <div class="col-md-3">
                   <div class="card">
                       <div class="card-header bg-transparent border-white">
                                <p>Profile Details</p>
                       </div>
                       <div class="card-body">
                            <div class="card-text d-flex justify-content-center align-items-center">
                                <img class="rounded-circle w-75 h-75" src="https://scontent.fhyd5-1.fna.fbcdn.net/v/t1.0-9/37759074_204251493580122_2177623795748044800_n.jpg?_nc_cat=108&_nc_oc=AQkrjYNSwAs7EsCQP7FUNptCESOP0L57tjO_3nBNQb9qg8iisACl6nhlhEGzJD1kBFQ&_nc_ht=scontent.fhyd5-1.fna&oh=0ff896d5e7446efd4ee891d26d93da15&oe=5E8B03AA">
                            </div>
                            <div class="mt-2  text-center">
                                    <div>venkatesh konanki</div>
                                    <div class="text-muted">Lead Developer</div>
                                    <button class="btn btn-info btn-sm mr-2 text-white">follow</button>
                                    <button class="btn btn-info btn-sm text-white"><i class="fa fa-comment text-white mr-1" aria-hidden="true"></i>Message</button>
                            </div>
                            <hr>
                            <div>Skills</div>
                            <span class="badge badge-info mr-2">HTML</span>
                            <span class="badge badge-info mr-2">CSS</span>
                            <span class="badge badge-info mr-2">BOOTSTRAP</span>
                            <span class="badge badge-info mr-2">JAVASCRIPT</span>
                            <span class="badge badge-info mr-2">JQUERY</span>
                            <span class="badge badge-info mr-2 ">TYPESCRIPT</span>
                            <span class="badge badge-info mr-2">ANGULAR</span>
                            <hr>
                            <div>About</div>
                            <div class="d-flex mt-3">
                                    <i class="fa fa-home mr-2 mt-1" aria-hidden="true"></i>
                                    <div>Lives in <span class="text-info ml-1">Hyderabad</span></div>
                            </div>
                            <div class="d-flex">
                                    <i class="fa fa-suitcase mr-3 mt-1" aria-hidden="true"></i>
                                    <div>Works at<span class="text-info ml-1">GitHub</span></div>
                            </div>
                            <div class="d-flex">
                                    <div class="d-flex">
                                            <i class="fa fa-map-marker mt-1 mr-3" aria-hidden="true"></i>

                                            <div>From<span class="text-info ml-1">Hyderabad</span></div>
                                    </div>
                                    
                            </div>
                            <hr>
                            <div>Elsewhere</div>
                            <div class="d-flex mt-3">
                                    <i class="fa fa-instagram mt-1 mr-3" aria-hidden="true"></i>

                                    <div class="text-info">Instagram</div>

                            </div>
                            
                            <div class="d-flex">
                                    <i class="fa fa-twitter mt-1 mr-3" aria-hidden="true"></i>
                                    <div class="text-info">Twitter</div>
                            </div>
                            <div class="d-flex">
                                    <i class="fa fa-facebook mt-1 mr-3" aria-hidden="true"></i>
                                    <div class="text-info">Facebook</div>
                            </div>
                            
                            
                       </div>
                      

                   </div>
                </div>
                <div class="col-md-9">

                    <div class="card">
                        <div class="card-header d-flex justify-content-between bg-transparent border-white">
                            <h5>Activities</h5>
                            <h3>...</h3>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                    <div class="media">
                                            <img class="rounded-circle profilepic mt-1 mr-3" src="https://scontent.fhyd5-1.fna.fbcdn.net/v/t1.0-9/37759074_204251493580122_2177623795748044800_n.jpg?_nc_cat=108&_nc_oc=AQkrjYNSwAs7EsCQP7FUNptCESOP0L57tjO_3nBNQb9qg8iisACl6nhlhEGzJD1kBFQ&_nc_ht=scontent.fhyd5-1.fna&oh=0ff896d5e7446efd4ee891d26d93da15&oe=5E8B03AA">
                                      <div class="media-body d-flex justify-content-between ">
                                          <div class="">
                                                <div class="mt-0 mb-1">Stacie Hall posted a new blog</div>
                                                <small>Today 7:50pm</small>
                                          </div>
                                        
                                       </div>
                                       <small>5min ago</small>
                                    </div>
                                    <hr>
                                    <div class="media my-4">
                                            <img class="rounded-circle profilepic mt-1 mr-3" src="https://scontent.fhyd5-1.fna.fbcdn.net/v/t1.0-9/37759074_204251493580122_2177623795748044800_n.jpg?_nc_cat=108&_nc_oc=AQkrjYNSwAs7EsCQP7FUNptCESOP0L57tjO_3nBNQb9qg8iisACl6nhlhEGzJD1kBFQ&_nc_ht=scontent.fhyd5-1.fna&oh=0ff896d5e7446efd4ee891d26d93da15&oe=5E8B03AA">
                                      <div class="media-body d-flex justify-content-between">
                                          <div class="">
                                                <div class="mt-0 mb-1">Chris Wood posted something on Stacie Hall's timeline</div>
                                                <small>Today 7:50pm</small>
                                                <div class="card">
                                                        <div class="card-text p-2" style="font-size:13px">
                                                                Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                                                        </div>
                                                        
                                                </div>
                                                <button class="btn-danger text-white btn-sm mt-2 btn"><i class="fa fa-heart-o mr-2" aria-hidden="true"></i>like</button>
                                               
                                          </div>
                                       <small>30minago</small>
                                        
                                      </div>
                                      
                                    </div>
                                    
                                    <hr>


                                    <div class="media">
                                        <img class="rounded-circle profilepic mt-1 mr-3" src="https://scontent.fhyd5-1.fna.fbcdn.net/v/t1.0-9/37759074_204251493580122_2177623795748044800_n.jpg?_nc_cat=108&_nc_oc=AQkrjYNSwAs7EsCQP7FUNptCESOP0L57tjO_3nBNQb9qg8iisACl6nhlhEGzJD1kBFQ&_nc_ht=scontent.fhyd5-1.fna&oh=0ff896d5e7446efd4ee891d26d93da15&oe=5E8B03AA">
                                  <div class="media-body d-flex justify-content-between ">
                                      <div class="">
                                            <div class="mt-0 mb-1">Stacie Hall posted a new blog</div>
                                            <small>Today 6:50pm</small>
                                      </div>
                                    
                                   </div>
                                   <small>1hr ago</small>
                                </div>

                                


                                 </div>

                                 <hr>

                                 <div class="media my-4">
                                        <img class="rounded-circle profilepic mt-1 mr-3" src="https://scontent.fhyd5-1.fna.fbcdn.net/v/t1.0-9/37759074_204251493580122_2177623795748044800_n.jpg?_nc_cat=108&_nc_oc=AQkrjYNSwAs7EsCQP7FUNptCESOP0L57tjO_3nBNQb9qg8iisACl6nhlhEGzJD1kBFQ&_nc_ht=scontent.fhyd5-1.fna&oh=0ff896d5e7446efd4ee891d26d93da15&oe=5E8B03AA">
                                  <div class="media-body d-flex justify-content-between">
                                      <div class="">
                                            <div class="mt-0 mb-1">Chris Wood posted something on Stacie Hall's timeline</div>
                                            <small>Today 7:50pm</small>
                                            <div class="">
                                                  <img class="rounded-radius mr-3 w-25" src="https://images.pexels.com/photos/462118/pexels-photo-462118.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">

                                                  <img class="rounded-radius w-25" src="https://images.pexels.com/photos/68147/waterfall-thac-dray-nur-buon-me-thuot-daklak-68147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                                                    
                                            </div>
                                            <button class="btn-danger text-white btn-sm mt-2 btn"><i class="fa fa-heart-o mr-2" aria-hidden="true"></i>like</button>
                                           
                                      </div>
                                   <small>30minago</small>
                                    
                                  </div>
                                  
                                </div>

                                <hr>
                                <div class="media">
                                        <img class="rounded-circle profilepic mt-1 mr-3" src="https://images.pexels.com/photos/33045/lion-wild-africa-african.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                                              
                                        <div class="media-body d-flex justify-content-between">
                                                <div class="">
                                                                <div class="mt-0">Carl Jenkins started following Stacie Hall</div>
                                                                <small>Yesterday 3:12 pm</small>
                                                            
                                                                <div class="media mt-3">
                                                                  
                                                                      <img class="rounded-circle profilepic mt-1 mr-3" src="https://scontent.fhyd5-1.fna.fbcdn.net/v/t1.0-9/37759074_204251493580122_2177623795748044800_n.jpg?_nc_cat=108&_nc_oc=AQkrjYNSwAs7EsCQP7FUNptCESOP0L57tjO_3nBNQb9qg8iisACl6nhlhEGzJD1kBFQ&_nc_ht=scontent.fhyd5-1.fna&oh=0ff896d5e7446efd4ee891d26d93da15&oe=5E8B03AA">
                                                                  <div class="card">
                                                                          <div class="card-text">
                                                                             <small class="mt-4"> Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</small>
                                                                          </div>
                                                                  </div>
                                                                </div>
                                                </div>
                                         <small>1dayago</small>
                                        </div>
                                      </div>

                                      <hr>

                                      <div class="media">
                                                <img class="rounded-circle profilepic mt-1 mr-3" src="https://scontent.fhyd5-1.fna.fbcdn.net/v/t1.0-9/37759074_204251493580122_2177623795748044800_n.jpg?_nc_cat=108&_nc_oc=AQkrjYNSwAs7EsCQP7FUNptCESOP0L57tjO_3nBNQb9qg8iisACl6nhlhEGzJD1kBFQ&_nc_ht=scontent.fhyd5-1.fna&oh=0ff896d5e7446efd4ee891d26d93da15&oe=5E8B03AA">
                                          <div class="media-body d-flex justify-content-between ">
                                              <div class="">
                                                    <div class="mt-0 mb-1">Stacie Hall posted a new blog</div>
                                                    <small>Yesterdag 2:47 pm</small>
                                              </div>
                                            
                                           </div>
                                           <small>1day ago</small>
                                        </div>
                                        
                                        <hr>

                                        <div class="media">
                                                        <img class="rounded-circle profilepic mt-1 mr-3" src="https://images.pexels.com/photos/145939/pexels-photo-145939.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                                                  <div class="media-body d-flex justify-content-between ">
                                                      <div class="">
                                                            <div class="mt-0 mb-1">Chris Wood started following Stacie Hall</div>
                                                            <small>Yesterdag 1:51 pm</small>
                                                      </div>
                                                    
                                                   </div>
                                                   <small>1day ago</small>
                                                </div>

                                                <hr>

                                <button class="btn btn-info btn-block text-white">Load more</button>        

                        </div>
                    </div>


                </div>
        </div>
</div>
