<div class="container bg-white p-0 m-0">
    <div class="navbar d-flex justify-content-between">
        <div class="d-flex">
            <i class="fa fa-align-left fontawesome mt-2" aria-hidden="true"></i>
            <div class="form-inline">
                <input type="text" class="form-control border-white" placeholder="Search projects...">
            </div>
        </div>
        <div class="d-flex ">
          
              <i class="fa fa-comment-o mt-2 mr-3 fontawesome" aria-hidden="true">
                <sup><span class="badge badge-pill badge-sm navbadge badge-info text-white">4</span></sup>
              </i>
              
        
           
            <i class="fa fa-bell-slash-o mt-2 mr-3 fontawesome" aria-hidden="true"></i>
            <img  class="rounded-circle navbarpic mt-2 mr-3" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1024px-Flag_of_India.svg.png" >
            <img class="rounded-circle naviconbar mt-1 mr-3" src="https://scontent.fhyd5-1.fna.fbcdn.net/v/t1.0-9/37759074_204251493580122_2177623795748044800_n.jpg?_nc_cat=108&_nc_oc=AQkrjYNSwAs7EsCQP7FUNptCESOP0L57tjO_3nBNQb9qg8iisACl6nhlhEGzJD1kBFQ&_nc_ht=scontent.fhyd5-1.fna&oh=0ff896d5e7446efd4ee891d26d93da15&oe=5E8B03AA">
           
            <div class="dropdown mt-2">
                <button class="btn btn-white border-white  btn-sm dropdown-toggle" type="button" id="chriswood" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Chris Wood
                </button>
                <div class="navdrop" >
                <div class="dropdown-menu "  aria-labelledby="chriswood">
                  <a class="dropdown-item " href="#"><i class="fa fa-user-o mr-3" aria-hidden="true"></i> Profile</a>
                  <a class="dropdown-item " href="#"><i class="fa fa-pie-chart mr-3" aria-hidden="true"></i>Analytics</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item " href="#">Setting & Privacy</a>
                  <a class="dropdown-item " href="#">Help</a>
                  <a class="dropdown-item " href="#">Sign out</a>
                </div>
                </div>
              </div>

        </div>
    </div>
</div>
<router-outlet></router-outlet>

